body {
  background-color: #ead8c1;
}

.header {
  font-family: 'Arial Narrow Bold', sans-serif;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  color: black;
}

.paragraph {
  display: flex;
  background-color: #faf5f0;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  color: black;
  box-shadow: inset 0 0 15px #7a5729;
}

p {
  text-indent: 20px;
}

.link {
  text-decoration: none;;
}